@model Employedataproject.Models.Employee

<div method="post" >
    <div>
        <label>Empid</label>
        <input type="text" />
    </div>
    <div>
        <label>EmpName</label>
        <input type="text" />
    </div>
    <div>
        <label>Gender</label>
        <input type="button" value="male"/>
        <input type="button" value="Female" />
    </div>
    <div>
        <label>DOB</label>
        <input type="date" />
    </div>
    <div>
        <label>Image</label>
        <input type="image" />
    </div>
    <div>
        <button ">success</button>
        <button asp-action="index">cancel</button>
    </div>
    
</div>